{% extends 'base.html.twig' %}

{% block principal %}
	<h2>Change Username</h2>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit">Update</button>
	{{ form_end(form) }}
{% endblock %}
